.projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    background: linear-gradient(to bottom, #0b2949, #255577);
    .projectSections {
        width: 100%;
        max-width: 340px;
        height: 260px;
        background-color: #d1d1d19d;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        border-radius: 25px;
        transition: 350ms;
        color: #0A192F;
        cursor: pointer;
        p {
            position: absolute;
            text-align: center;
            max-width: inherit;
            font-weight: 600;
            
        }
        a {
            padding-top: 10px;
            display: flex;
            justify-content: center;
            font-weight: 600;
            text-align: center;
            background-color: #0A192F;
            color: #f0efef;
            width: 100%;
            height: 20%;
            border-radius: 0px 0px 25px 25px;
            &:hover {
                color: #0A192F;
                background-color: #f0efef ;
            }
        }
        img {
            width: 100%;
            height: 80%;
            border-radius: 25px 25px 0px 0px;
            transition: 350ms;
            z-index: 1;
            &:hover{
                transform: translateY(-120px);
            }
        }
        }
    
    @media(max-width: 768px){
        flex-direction: column;
        gap: 30px;
        .projectSections {
            max-width: 260px;
            height: 180px;
            color: #fff;
           
        }
    }
    .projectsImages {
        width: 350px;
        height: 250px;
        border-radius: 4px;
        @media (max-width: 738px) {
            width: 250px;
            height: 150px;
        }
    }
    @media(min-height: 840px) {
        min-height: 1200px;
    }
}

.timeline {
    display: flex;
    width: 100%;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    flex-direction: column;
    align-items: center;
    max-width: 1220px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .imageCard {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
  }
  
  .timeline.show {
    opacity: 1;
    transform: translateX(0);
  }
  
    .timeline2 {
        display: flex;
        width: 100%;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s;
        flex-direction: column;
        align-items: center;
    }
  
  .timeline2.show {
    display: inherit;
    opacity: 1;
    transform: translateX(0);
  }
  .timelineItem {
    color:white;
  }
  .labelStyle, .labelStyleRight {
    display: flex;
    justify-content: flex-end;
    
    p {
        text-align: justify;
        max-width: 370px;
    }
  }
  .labelStyleRight {
    justify-content: flex-start;
  }
  .cardProjects {
    max-width: 1220px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .imageCard {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
 }