.projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 1200px;
    .projectSections {
        width: 100%;
        max-width: 340px;
        height: 260px;
        background-color: #d1d1d19d;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        border-radius: 25px;
        transition: 350ms;
        color: #0A192F;
        cursor: pointer;
        p {
            position: absolute;
            text-align: center;
            max-width: inherit;
            font-weight: 600;
            
        }
        a {
            padding-top: 10px;
            display: flex;
            justify-content: center;
            font-weight: 600;
            text-align: center;
            background-color: #0A192F;
            color: #f0efef;
            width: 100%;
            height: 20%;
            border-radius: 0px 0px 25px 25px;
            &:hover {
                color: #0A192F;
                background-color: #f0efef ;
            }
        }
        img {
            width: 100%;
            height: 80%;
            border-radius: 25px 25px 0px 0px;
            transition: 350ms;
            z-index: 1;
            &:hover{
                transform: translateY(-120px);
            }
        }
        }
    @media (min-height:760px){
        height: 860px;
    }
    @media(max-width: 768px){
        flex-direction: column;
        gap: 30px;
        .projectSections {
            max-width: 260px;
            height: 180px;
            color: #fff;
           
        }
    }
    .projectsImages {
        width: 350px;
        height: 250px;
        
        @media (max-width: 738px) {
            width: 250px;
            height: 150px;
        }
    }
}

.timeline {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateX(-200%);
    transition: opacity 0.5s, transform 0.5s;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .timelineItem {
    color:white;
  }