.technologiesContainer {
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #0b2949, #255577);
    flex-direction: column;
    gap: 34px;

    .cardEdit {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 20px;
      
      .techsHeader {
        position: relative;
        text-align: center;
        bottom: 30px;
        color: #fff;
        font-size: 22px;
        
      }
      div {
        height: max-content;
        background-color: #fff;
        border-radius: 10px;
        min-height: 270px;
      }
      @media (max-width: 658px){
        flex-direction: column;
        max-width: 600px;
      }
    }
    span {
        width: 100%;
        display: flex;

        .technologiesIcons{
            height: 26px;
            width: 26px;
            color:#fff;
        } 
       
    }
}
.swiperWrapper {
    width: 100%;
    display: flex;
    align-items: center;

    .swiperSlide {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0 1rem;
      align-items: center;
      max-width: 150px;
      width: 100%;
    }
}

  

  
  .card {
    background: none;
  }
  .techsStyle {
    font-weight: 500;
    font-size: 18px;
    line-height: 44px;
  }